@charset "UTF-8";
/* line 6, ../sass/app.scss */
.animation, html, body, .common-link, div.h-b-2 div.rt ul.menus li a, div.card_pane > .card_pane_title > a, div.card_pane div.card_content > ul.brief-news > li > a, .common-link:hover *, div.h-b-2 div.rt ul.menus li a:hover *, div.card_pane > .card_pane_title > a:hover *, div.card_pane div.card_content > ul.brief-news > li > a:hover *, div.card_pane div.card_content > ul.products-sample li, div.card_pane div.card_content > ul.join-us li, div.card_pane div.card_content > ul.join-us li > a.btn-ld, div.case_pane div.card_content > ul.case-sample li {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 12, ../sass/app.scss */
.transform, div.h-b-2 div.rt ul.menus li a:hover, div.card_pane div.card_content > ul.products-sample li:hover, div.card_pane div.card_content > ul.join-us li:hover {
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-transform: translate3d(0, -3px, 0);
  -ms-transform: translate3d(0, -3px, 0);
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}

/* line 17, ../sass/app.scss */
html, body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"瀹嬩綋";
  min-width: 1200px;
  font-size: 12px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 25, ../sass/app.scss */
.op-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 29, ../sass/app.scss */
body, label, input, td, div, select, a {
  font-size: 1em;
}

/* line 32, ../sass/app.scss */
.btn, div.card_pane div.card_content > ul.join-us li > a.btn-ld {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 53, ../sass/app.scss */
div.container-ld {
  width: 1200px;
}

/* line 58, ../sass/app.scss */
div.container-ld.columns {
  padding: 15px 0px 15px 200px;
  overflow: hidden;
  position: relative;
}
/* line 62, ../sass/app.scss */
div.container-ld.columns div.left {
  background: blue;
  min-height: 400px;
  width: 180px;
  float: left;
  margin-left: -100%;
  position: relative;
  right: 16.5em;
}
/* line 71, ../sass/app.scss */
div.container-ld.columns div.center {
  width: 100%;
  background: #ddd;
  min-height: 700px;
  float: left;
}

/* line 79, ../sass/app.scss */
div.container, div.row {
  width: 1170px;
}

/* line 83, ../sass/app.scss */
.common-link, div.h-b-2 div.rt ul.menus li a, div.card_pane > .card_pane_title > a, div.card_pane div.card_content > ul.brief-news > li > a {
  font-size: 1.3em;
  color: #5699bc;
  font-weight: 600;
  letter-spacing: 0.02em;
}
/* line 89, ../sass/app.scss */
.common-link:hover, div.h-b-2 div.rt ul.menus li a:hover, div.card_pane > .card_pane_title > a:hover, div.card_pane div.card_content > ul.brief-news > li > a:hover {
  color: #f4b55b;
  text-decoration: none;
}
/* line 92, ../sass/app.scss */
.common-link:hover *, div.h-b-2 div.rt ul.menus li a:hover *, div.card_pane > .card_pane_title > a:hover *, div.card_pane div.card_content > ul.brief-news > li > a:hover * {
  color: #f4b55b;
}

/* line 99, ../sass/app.scss */
div.h-b-1, div.footer {
  min-width: 1200px;
  height: 33px;
  line-height: 33px;
  background: #e3e3e3;
  color: #1f77a3;
}
/* line 105, ../sass/app.scss */
div.h-b-1 label.lf, div.footer label.lf, div.h-b-1 label.rt, div.footer label.rt {
  font-size: 1.2em;
  letter-spacing: 0.01em;
}
/* line 109, ../sass/app.scss */
div.h-b-1 label.lf, div.footer label.lf {
  color: #1f77a3;
  float: left;
}
/* line 114, ../sass/app.scss */
div.h-b-1 label.rt, div.footer label.rt {
  color: #f4b55b;
  float: right;
}

/* line 121, ../sass/app.scss */
div.h-b-2 {
  min-width: 1200px;
  height: 157px;
  line-height: 33px;
  background: #fff;
  color: #1f77a3;
}
/* line 127, ../sass/app.scss */
div.h-b-2 .row {
  position: relative;
}
/* line 130, ../sass/app.scss */
div.h-b-2 div.lf {
  width: 300px;
  position: absolute;
  left: 0px;
  background: url(../images/logo.png) center center no-repeat;
  height: 157px;
}
/* line 137, ../sass/app.scss */
div.h-b-2 div.rt {
  padding-left: 300px;
  width: 100%;
  float: right;
  margin-right: -2px;
  height: 157px;
  text-align: center;
  position: relative;
}
/* line 145, ../sass/app.scss */
div.h-b-2 div.rt ul.menus {
  padding: 0;
  margin-top: 35px;
}
/* line 149, ../sass/app.scss */
div.h-b-2 div.rt ul.menus li {
  background: rgba(255, 255, 255, 0);
  width: 8em;
  margin: 0.5em;
  height: 5em;
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 164, ../sass/app.scss */
div.h-b-2 div.rt ul.menus li a {
  padding: 0px 5px;
}
/* line 167, ../sass/app.scss */
div.h-b-2 div.rt ul.menus li a:hover {
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}

/* line 176, ../sass/app.scss */
.h-b-3 {
  max-height: 439px;
}
/* line 178, ../sass/app.scss */
.h-b-3 .bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
  margin-bottom: 0px;
}
/* line 182, ../sass/app.scss */
.h-b-3 .bx-wrapper .bx-default-pager {
  position: relative;
  top: -35px;
  margin-top: 0px;
  padding: 0px;
}
/* line 187, ../sass/app.scss */
.h-b-3 .bx-wrapper .bx-default-pager .bx-pager-link {
  width: 18px;
  height: 18px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/* line 197, ../sass/app.scss */
div.card_pane {
  min-height: 372px;
  width: 100%;
  border: 1px solid #d8d8d8;
  margin: 21px 0px;
  overflow: hidden;
}
/* line 203, ../sass/app.scss */
div.card_pane > .card_pane_title {
  height: 56px;
  background: #f3f3f3;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}
/* line 208, ../sass/app.scss */
div.card_pane > .card_pane_title > a {
  font-size: 1.2em;
  height: 56px;
  line-height: 56px;
  position: absolute;
  right: 6px;
  color: #a3a3a3;
  text-decoration: none;
  cursor: pointer;
}
/* line 216, ../sass/app.scss */
div.card_pane > .card_pane_title > a i {
  font-size: 1.5em;
  color: #8f8f8f;
  margin-left: 8px;
  position: relative;
  top: 2px;
}
/* line 228, ../sass/app.scss */
div.card_pane .products {
  background: #f3f3f3 url(../images/products_card_title.png) center left no-repeat;
}
/* line 231, ../sass/app.scss */
div.card_pane .joinus {
  background: #f3f3f3 url(../images/join_us_title.png) center left no-repeat;
}
/* line 234, ../sass/app.scss */
div.card_pane .news1 {
  background: #f3f3f3 url(../images/news1_card_title.png) center left no-repeat;
}
/* line 237, ../sass/app.scss */
div.card_pane .news2 {
  background: #f3f3f3 url(../images/news2_card_title.png) center left no-repeat;
}
/* line 240, ../sass/app.scss */
div.card_pane .kt {
  background: #f3f3f3 url(../images/mud_kt.png) center left no-repeat;
}
/* line 243, ../sass/app.scss */
div.card_pane .case {
  background: #f3f3f3 url(../images/case_pane_title.png) center left no-repeat;
}
/* line 246, ../sass/app.scss */
div.card_pane div.card_content {
  padding: 4px;
  height: 100%;
}
/* line 249, ../sass/app.scss */
div.card_pane div.card_content > ul.products-sample, div.card_pane div.card_content > ul.join-us {
  list-style: none;
  margin: 0px;
  padding: 5px;
}
/* line 253, ../sass/app.scss */
div.card_pane div.card_content > ul.products-sample li, div.card_pane div.card_content > ul.join-us li {
  width: 29.1em;
  margin: .5em;
  height: 7em;
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 264, ../sass/app.scss */
div.card_pane div.card_content > ul.products-sample li a, div.card_pane div.card_content > ul.join-us li a {
  padding: 0px;
  margin: 0px;
  width: 29.1em;
}
/* line 268, ../sass/app.scss */
div.card_pane div.card_content > ul.products-sample li a > img, div.card_pane div.card_content > ul.join-us li a > img {
  width: 29em;
}
/* line 277, ../sass/app.scss */
div.card_pane div.card_content > ul.join-us {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 283, ../sass/app.scss */
div.card_pane div.card_content > ul.join-us li {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 50%;
}
/* line 289, ../sass/app.scss */
div.card_pane div.card_content > ul.join-us li:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
/* line 293, ../sass/app.scss */
div.card_pane div.card_content > ul.join-us li > a.btn-ld {
  background: #f6a000;
  width: 100%;
  height: 3em;
  line-height: 2.1em;
  margin-top: 45px;
  color: #fff;
  font-size: 1.6em;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(64, 38, 5, 0.9);
}
/* line 304, ../sass/app.scss */
div.card_pane div.card_content > ul.join-us li > a.btn-ld:focus {
  background: #f8b838;
}
/* line 307, ../sass/app.scss */
div.card_pane div.card_content > ul.join-us li > a.btn-ld:hover {
  background: #ffd842;
}
/* line 314, ../sass/app.scss */
div.card_pane div.card_content > ul.brief-news {
  padding: 15px 5px;
  list-style-type: none;
  margin: 5px;
  overflow: hidden;
  max-height: 100%;
}
/* line 320, ../sass/app.scss */
div.card_pane div.card_content > ul.brief-news > li {
  margin: 9px 0px;
  padding-bottom: 9px;
  border-bottom: 1px dashed #8a8a8a;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
/* line 327, ../sass/app.scss */
div.card_pane div.card_content > ul.brief-news > li > a {
  font-size: 1.2em;
  padding-left: 12px;
  color: #8d8d8d;
  font-weight: normal;
}
/* line 334, ../sass/app.scss */
div.card_pane div.card_content > ul.brief-news > li span.upload_dt {
  position: absolute;
  right: 0px;
  bottom: 9px;
  padding: 0px 15px;
  padding-right: 0px;
  background: #fff;
  color: #8d8d8d;
}
/* line 343, ../sass/app.scss */
div.card_pane div.card_content > ul.brief-news > li:before {
  content: "\f0c8";
  color: #8a8a8a;
  background: #fc9907;
  width: 0.5em;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 0.5em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0.1em;
}
/* line 357, ../sass/app.scss */
div.card_pane div.card_content > ul.brief-news > li:hover:before {
  color: #fc9907;
}
/* line 362, ../sass/app.scss */
div.card_pane div.card_content > ul.brief-news > li:nth-last-child(1) {
  border-bottom: none;
}
/* line 367, ../sass/app.scss */
div.card_pane div.card_content > ul.case-sample {
  height: 490px;
}
/* line 369, ../sass/app.scss */
div.card_pane div.card_content > ul.case-sample li {
  width: 5.1em;
  height: 7em;
}

/* line 377, ../sass/app.scss */
div.case_pane {
  height: 490px;
}
/* line 380, ../sass/app.scss */
div.case_pane div.card_content > ul.case-sample {
  padding: 0.09em 0.02em;
}
/* line 382, ../sass/app.scss */
div.case_pane div.card_content > ul.case-sample li {
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 18.13em;
  height: 17em;
  margin: 0.2em;
  overflow: hidden;
}
/* line 390, ../sass/app.scss */
div.case_pane div.card_content > ul.case-sample li a {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: block;
  background: #ddd;
}
/* line 401, ../sass/app.scss */
div.case_pane div.card_content > ul.case-sample li:hover {
  -moz-transform: perspective(0) rotateY(180deg) rotateY(180deg);
  -webkit-transform: perspective(0) rotateY(180deg) rotateY(180deg);
  transform: perspective(0) rotateY(180deg) rotateY(180deg);
}

/* line 409, ../sass/app.scss */
div.footer {
  height: 450px;
}
/* line 413, ../sass/app.scss */
div.footer .container .footer-list-container {
  width: 880px;
  height: 139px;
  margin: 0px auto;
  position: relative;
}
/* line 418, ../sass/app.scss */
div.footer .container .footer-list-container > div {
  width: 16%;
  border-left: 1px solid #8c8c8c;
  float: left;
  height: 120px;
  margin-top: 80px;
}
/* line 424, ../sass/app.scss */
div.footer .container .footer-list-container > div ul {
  list-style: none;
}
/* line 426, ../sass/app.scss */
div.footer .container .footer-list-container > div ul li a {
  color: #8c8c8c;
}
/* line 430, ../sass/app.scss */
div.footer .container .footer-list-container > div ul li:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
}
