@charset "UTF-8";
@CHARSET "UTF-8";
/* line 3, ../sass/app.scss */
html, body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"瀹嬩綋";
  min-width: 1200px;
}

/* line 7, ../sass/app.scss */
body, label, input, td, div, select, a {
  font-size: 12px;
}

/* line 11, ../sass/app.scss */
div.container-ld {
  width: 1200px;
}

/* line 15, ../sass/app.scss */
div.container, div.row {
  width: 1170px;
}

/* line 19, ../sass/app.scss */
div.h-b-1 {
  min-width: 1200px;
  height: 33px;
  line-height: 33px;
  background: #e3e3e3;
  color: #1f77a3;
}
/* line 25, ../sass/app.scss */
div.h-b-1 label.lf, div.h-b-1 label.rt {
  font-size: 1.2em;
  letter-spacing: 0.01em;
}
/* line 29, ../sass/app.scss */
div.h-b-1 label.lf {
  color: #1f77a3;
  float: left;
}
/* line 34, ../sass/app.scss */
div.h-b-1 label.rt {
  color: #f4b55b;
  float: right;
}

/* line 40, ../sass/app.scss */
div.h-b-2 {
  min-width: 1200px;
  height: 157px;
  line-height: 33px;
  background: #fff;
  color: #1f77a3;
}
/* line 46, ../sass/app.scss */
div.h-b-2 div.lf {
  width: 300px;
  float: left;
  background: url(../images/logo.png) center center no-repeat;
  height: 157px;
}
/* line 52, ../sass/app.scss */
div.h-b-2 div.rt {
  margin-left: -100%;
  padding-left: 300px;
  width: 100%;
  float: right;
  margin-right: -2px;
  height: 157px;
  text-align: center;
  position: relative;
}
/* line 61, ../sass/app.scss */
div.h-b-2 div.rt ul.menus {
  padding: 0;
  margin-top: 35px;
}
/* line 65, ../sass/app.scss */
div.h-b-2 div.rt ul.menus li {
  background: rgba(255, 255, 255, 0);
  width: 8em;
  margin: 0.5em;
  height: 5em;
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 80, ../sass/app.scss */
div.h-b-2 div.rt ul.menus li a {
  font-size: 1.3em;
  color: #5699bc;
  font-weight: 600;
  letter-spacing: 0.02em;
}

/* line 90, ../sass/app.scss */
.h-b-3 {
  height: 439px;
}
/* line 92, ../sass/app.scss */
.h-b-3 .bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
  margin-bottom: 0px;
}
/* line 96, ../sass/app.scss */
.h-b-3 .bx-wrapper .bx-default-pager {
  position: relative;
  top: -35px;
  margin-top: 0px;
  padding: 0px;
}
/* line 101, ../sass/app.scss */
.h-b-3 .bx-wrapper .bx-default-pager .bx-pager-link {
  width: 18px;
  height: 18px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/* line 111, ../sass/app.scss */
div.card_pane {
  height: 372px;
  width: 100%;
  border: 1px solid #d8d8d8;
  margin: 21px 0px;
}
/* line 116, ../sass/app.scss */
div.card_pane > .card_pane_title {
  height: 56px;
  background: #f3f3f3;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}
/* line 121, ../sass/app.scss */
div.card_pane > .card_pane_title > a {
  font-size: 1.2em;
  height: 56px;
  line-height: 56px;
  position: absolute;
  right: 6px;
  color: #a3a3a3;
  text-decoration: none;
  cursor: pointer;
}
/* line 128, ../sass/app.scss */
div.card_pane > .card_pane_title > a i {
  font-size: 1.5em;
  color: #8f8f8f;
  margin-left: 8px;
  position: relative;
  top: 2px;
}
/* line 139, ../sass/app.scss */
div.card_pane .products {
  background: #f3f3f3 url(../images/products_card_title.png) center left no-repeat;
}
/* line 142, ../sass/app.scss */
div.card_pane .joinus {
  background: #f3f3f3 url(../images/join_us_title.png) center left no-repeat;
}
/* line 145, ../sass/app.scss */
div.card_pane .news1 {
  background: #f3f3f3 url(../images/news1_card_title.png) center left no-repeat;
}
/* line 148, ../sass/app.scss */
div.card_pane .news2 {
  background: #f3f3f3 url(../images/news2_card_title.png) center left no-repeat;
}
/* line 151, ../sass/app.scss */
div.card_pane .kt {
  background: #f3f3f3 url(../images/mud_kt.png) center left no-repeat;
}
/* line 154, ../sass/app.scss */
div.card_pane .case {
  background: #f3f3f3 url(../images/case_pane_title.png) center left no-repeat;
}
/* line 157, ../sass/app.scss */
div.card_pane div.card_content {
  padding: 4px;
}
/* line 159, ../sass/app.scss */
div.card_pane div.card_content ul {
  list-style: none;
  margin: 0px;
  padding: 5px;
}
/* line 163, ../sass/app.scss */
div.card_pane div.card_content ul li {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.08s;
  -o-transition-duration: 0.08s;
  -webkit-transition-duration: 0.08s;
  transition-duration: 0.08s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 29.1em;
  margin: .5em;
  height: 7em;
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 176, ../sass/app.scss */
div.card_pane div.card_content ul li a {
  padding: 0px;
  margin: 0px;
  width: 29.1em;
}
/* line 180, ../sass/app.scss */
div.card_pane div.card_content ul li a > img {
  width: 29em;
}
/* line 185, ../sass/app.scss */
div.card_pane div.card_content ul li:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
