@import "compass/css3";
@import "compass/typography";
$link-color: #5699bc;
$link-hover-color: #f4b55b;

.animation{
	@include transition-property(all);
	@include transition-duration(500ms);
	@include transition-timing-function(ease-in);
}

.transform{
	@include box-shadow(0 15px 30px rgba(0,0,0,0.1));
	@include transform(translate3d(0, -3px, 0));	
}

html, body{
	@extend .animation;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
	min-width:1200px;
	font-size:12px;
	@include opacity(0);
}

.op-show{
	@include opacity(1);
}

body, label, input, td, div, select, a{
	font-size:1em;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
div.container-ld{
	width:1200px;
	
}

div.container-ld.columns{
	padding:15px 0px 15px 200px;
	overflow:hidden;
	position:relative;
	div.left{
		min-height:400px;
		width:180px;
		float:left;
		margin-left:-100%;
		position:relative;
		right:16.5em;
		ul{
			padding:5px;
			list-style:none;
			margin:0px;
			width:100%;
			li{
				border:1px solid #d8d8d8;
				height:48px;
				line-height:48px;
				margin:2px;
				text-align:center;
				font-size:16px;
				a{
					text-align:center;
					width:100%;
					text-decoration:none;
				}
			}
		}
	}
	div.center{
		width:100%;
		min-height:700px;
		float:left;
		div.article{
			margin:5px;
			border:1px solid #d8d8d8;
			min-height:700px;
		}
	}
}

div.container, div.row{
	width:1170px;
}

.common-link{
	font-size:1.3em;
  	color:$link-color;
  	font-weight:600;
  	letter-spacing:0.02em;
  	@extend .animation;
	&:hover{
		color:$link-hover-color;
  		text-decoration:none;
  		*{
  			color:$link-hover-color;
  			@extend .animation;
  		}
	}
}

div.h-b-1{
	min-width:1200px;
	height:33px;
	line-height:33px;
	background: #e3e3e3;
	color: #1f77a3;
	label.lf, label.rt{
		font-size:1.2em;
		letter-spacing:0.01em;
	}
	label.lf{
		color: #1f77a3;
		float:left;
	}
	
	label.rt{
		color: #f4b55b;
		float:right;
	}
}


div.h-b-2{
	min-width:1200px;
	height:157px;
	line-height:33px;
	background: #fff;
	color: #1f77a3;
	.row{
		position:relative;
	}
	div.lf{
		width:300px;
		position:absolute;
		left:0px;
		background:url(../images/logo.png) center center no-repeat;
		height:157px;
	}
	div.rt{
		padding-left:300px;
		width:100%;
		float:right;
		margin-right:-2px;
		height:157px;
		text-align:center;
		position:relative;
		ul.menus {
		  padding: 0;
		  margin-top:35px;
		}
		ul.menus li {
		  background: rgba(255, 255, 255, 0);
		  width: 8em;
		  margin: 0.5em;
		  height: 5em;
		  text-align: center;
		  vertical-align: text-top;
		  display: inline-block;
		  /* non-flexbox browsers */
		  display: -webkit-inline-flex;
		  display: inline-flex;
		  -webkit-align-items: center;
		  align-items: center;
		  -webkit-justify-content: center;
		  justify-content: center;
		  a{
		  	padding:0px 5px;
		  	@extend .common-link;
		  	&:hover{
		  		@extend .transform;
		  		@include transform(translate3d(0, -2px, 0));	
		  	}
		  }
		}
	}
}

.h-b-3{
	max-height:439px;
	.bx-wrapper{
		@include box-shadow(none);
		border:0px;
		margin-bottom:0px;
		.bx-default-pager{
			position:relative;
			top:-35px;
			margin-top:0px;
			padding:0px;
			.bx-pager-link{
				width:18px;
				height:18px;
				@include border-radius(9px);
			}
		}
	}
}


div.card_pane{
	min-height:372px;
	width:100%;
	border:1px solid #d8d8d8;
	margin:21px 0px;
	overflow:hidden;
	> .card_pane_title{
		height:56px;
		background:#f3f3f3;
		border-bottom:1px solid #d8d8d8;
		position:relative;
		> a{
			@extend .common-link;
			font-size:1.2em;
			height:56px;
			line-height:56px;
			position:absolute;
			right:6px;
			color:#a3a3a3;
			i{
				font-size:1.5em;
				color:#8f8f8f;
				margin-left:8px;
				position:relative;
				top:2px;
			}
			text-decoration: none;
			cursor:pointer;
			
		}
	}
	.products{
		background: #f3f3f3 url(../images/products_card_title.png) center left no-repeat;
	}
	.joinus{
		background: #f3f3f3 url(../images/join_us_title.png) center left no-repeat;
	}
	.news1{
		background: #f3f3f3 url(../images/news1_card_title.png) center left no-repeat;
	}
	.news2{
		background: #f3f3f3 url(../images/news2_card_title.png) center left no-repeat;
	}
	.kt{
		background: #f3f3f3 url(../images/mud_kt.png) center left no-repeat;
	}
	.case{
		background: #f3f3f3 url(../images/case_pane_title.png) center left no-repeat;
	}
	div.card_content{
		padding:4px;
		height:100%;
		> ul.products-sample{
			list-style:none;
			margin:0px;	
			padding:5px;
			li{
				@extend .animation;
			    width: 29.1em;
			    margin: .5em;
			    height: 7em;
			    text-align: center;
			    vertical-align: text-top;
			    display: inline-block; /* non-flexbox browsers */
			    @include display-flex(inline-flex);
			    @include align-items(center);
			    @include justify-content(center);
			    a{
			    	padding:0px;
			    	margin:0px;
			    	width:29.1em;
			    	>img{
			    		width:29em;
			    	}
			    }
			    &:hover{
			    	@extend .transform;
			    }
			}
		};
		> ul.join-us{
			@extend ul.products-sample;
			display:block;
			width:100%;
			height:100%;
			position:relative;
			li{
				display:block;
				overflow:hidden;
				width:100%;
				margin:0px auto;
				height:50%;
				&:hover{
					@include box-shadow(none);	
					@include transform(none);
				}
				> a.btn-ld{
					@extend .btn;
					@extend .animation;
					background:#f6a000;
					width:100%;
					height:3em;
					line-height:2.1em;
					margin-top:45px;
					color:#fff;
					font-size:1.6em;
					@include text-shadow(0 1px 2px rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(64, 38, 5, 0.9));
					&:focus{
						background: #f8b838;
					}
					&:hover{
						background:#ffd842;
					}
				}
			}
		};
		
		> ul.brief-news{
			padding:15px 5px;
			list-style-type:none;
			margin:5px;
			overflow:hidden;
			max-height:100%;
			> li{
				margin:9px 0px;
				padding-bottom:9px;
				border-bottom:1px dashed #8a8a8a;
				overflow:hidden;
				white-space:nowrap;
				position:relative;
				>a{
					@extend .common-link;
					font-size:1.2em;
					padding-left:12px;
					color:#8d8d8d;
					font-weight:normal;
				}
				span.upload_dt{
					position:absolute;
					right:0px;
					bottom:9px;
					padding:0px 15px;
					padding-right:0px;
					background:#fff;
					color:#8d8d8d;
				}
				&:before{
					content: "\f0c8";
					color:#8a8a8a;
					background:#fc9907;
					width:0.5em;
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size:0.5em;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					line-height:0.1em;
				}
				&:hover{
					&:before{
						color:#fc9907;
					}
				}
			}
			> li:nth-last-child(1){
				border-bottom:none;
			}
		}
		
		> ul.case-sample{
			height:490px;
			li{
				width:5.1em;
				height:7em;;
			}
		}
	}
}

div.case_pane{
	height:490px;
	div.card_content{	
		> ul.case-sample{
			padding:0.09em 0.02em;
			li{
				@extend .animation;
			    text-align: center;
			    vertical-align: text-top;
			    display: inline-block; /* non-flexbox browsers */
			    @include display-flex(inline-flex);
			    @include align-items(center);
			    @include justify-content(center);
			    a{
			    	padding:0px;
			    	margin:0px;
			    	overflow:hidden;
			    	display:block;
			    	background:#ddd;
			    }
			    width: 18.13em;
			    height:17em;
			    margin: 0.2em;
			    overflow:hidden;
			    &:hover{
      					@include transform3d(perspective(0) rotateY(180deg) rotateY(180deg));
			    }
			}	
		}
	}
}

div.footer{
	@extend .h-b-1;
	height:450px;
	.container{
		.footer-list-container{
			width:880px;
			height:139px;
			margin:0px auto;
			position:relative;
			> div{
				width:16%;
				border-left:1px solid #8c8c8c;
				float:left;
				height:120px;
				margin-top:80px;
				ul{
					li{
						a{
							color:#8c8c8c;
						}
					}
					li:nth-child(1){
						font-size:14px;
						font-weight:bold;
					}
					list-style:none;
				}
			}
		}	
	}
}


